<form [formGroup]="streamForm">
  <mat-form-field>
    <input
      type="text"
      placeholder="Namespace/Community"
      matInput
      [formControl]="namespaceCtrl"
      [matAutocomplete]="nsAuto"
    />
    <mat-autocomplete #nsAuto="matAutocomplete">
      <mat-option
        *ngFor="let unit of organizationUnits"
        [value]="unit.Unit.Name"
      >
        <span>{{ unit.Unit.Name }}</span> |
        <small>{{ unit.Type }}</small>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <mat-form-field>
    <input
      type="text"
      placeholder="Stream"
      matInput
      [formControl]="streamCtrl"
      [matAutocomplete]="strAuto"
    />
    <mat-autocomplete #strAuto="matAutocomplete">
      <mat-option *ngFor="let stream of streams" [value]="stream.Id">
        {{ stream.Id }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <button
    mat-raised-button
    color="primary"
    [disabled]="streamFormDisabled"
    (click)="addStream()"
  >
    Add
  </button>
</form>

<ng-container *ngIf="configs.length">
  <table mat-table [dataSource]="configs" class="mat-elevation-z8">
    <ng-container matColumnDef="namespace">
      <th mat-header-cell *matHeaderCellDef>Namespace/Community</th>
      <td mat-cell *matCellDef="let config">
        <span>{{ config.unit.Unit.Name }}</span> |
        <small>{{ config.unit.Type }}</small>
      </td>
    </ng-container>

    <ng-container matColumnDef="stream">
      <th mat-header-cell *matHeaderCellDef>Stream</th>
      <td mat-cell *matCellDef="let config">{{ config.stream }}</td>
    </ng-container>

    <ng-container matColumnDef="lastUpdate">
      <th mat-header-cell *matHeaderCellDef>Last Update</th>
      <td mat-cell *matCellDef="let config">{{ config.lastUpdate }}</td>
    </ng-container>

    <ng-container matColumnDef="lastCount">
      <th mat-header-cell *matHeaderCellDef>Last Count</th>
      <td mat-cell *matCellDef="let config">{{ config.lastCount }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <form [formGroup]="chartForm">
    <mat-form-field>
      <input
        type="number"
        placeholder="Events"
        matInput
        [formControl]="eventsCtrl"
        [matAutocomplete]="eventsAuto"
      />
      <mat-autocomplete #eventsAuto="matAutocomplete">
        <mat-option *ngFor="let count of events" [value]="count">
          {{ count }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <mat-form-field>
      <input
        type="number"
        placeholder="Refresh (s)"
        matInput
        [formControl]="refreshCtrl"
        [matAutocomplete]="refreshAuto"
      />
      <mat-autocomplete #refreshAuto="matAutocomplete">
        <mat-option *ngFor="let sec of refresh" [value]="sec">
          {{ sec }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
</ng-container>

<div>
  <canvas id="canvas" #canvas width="800" height="500"></canvas>
</div>
